/* 
    GENERAL
*/

:root{
    --bs-btn-border-color: #fff;
    --main-header-height: 60px
}

#header-main {
    height: var(--main-header-height)
}

#main-container{
    height: calc(100vh - var(--main-header-height));
}

.navbar-brand .logo-sm-img{
    max-width: 50px;
}

.aside-nav{
    background-color: rgba(0, 0, 0, 0.85);
    background-image: url(../img/sidebar-bg.png);
    background-position: center
}

.aside-button{
    --bs-btn-border-color: none
}

/* .my-button{
    border: 1px solid white;
    color: black;
    font-size: 200px;
} */

.offcanvas.my-offcanvas{
    width: 50%;
}

th > img{
    max-width: 25px;
}

th.name{
    width: 40%;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion{
    --bs-accordion-active-bg: none
}

/* ----------- */

.row>*{
    padding-right: 0;
}

.row{
    margin-right: 0;
}

/* ------------ */

@media screen and (max-width: 768px){
    .offcanvas.my-offcanvas{
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    tr > th:nth-child(2){
        display: none;
    }

    tr > td:nth-child(2){
        display:none;
    }

    tr > th:nth-child(3){
        display: none;
    }

    tr > td:nth-child(3){
        display:none;
    }

    .offcanvas.my-offcanvas{
        width: 100%;
    }
}